*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';

}
html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    

}
.main{
    height: 100%;
    width: 100%;
    position: relative;
}
.nav{
    height: 80px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2vw 4vw;
    border-bottom: 2px solid #ffffff ;
    color: rgb(255, 8, 0);

}
.nav-part2{
    display: flex;
    /* background-color: wheat; */
    gap: 4vw;
    align-items: center;
    
}
.nav h2{
    font-size: 2vw;
    font-weight: 700;
}
.nav h2 span{
    color: #ffffff;
}
.nav h4{
    font-size: 1.3vw;
    color: #ffffff;
    

}
.nav i{
    font-size: 1.3vw;
    font-weight: 700;
    display: none;
}
.nav-part2 button{
    font-size: 1.2vw ;
    padding: 0.6vw 1.8vw;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgb(180, 12, 12);
    border: 1px solid black;
    border-radius: 2px;
    font-weight: 500 ;


}
.nav-part2 button span{
    font-size: 1.2vw;
    font-weight: 700;
}


.content{
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    position: relative;
    font-weight: 700;

} 

.left{
    height: 100%;
    width: 55%;
    /* background-color: crimson; */
    padding: 5vw 5vw;


}
.left h1 {
    font-size: 4.6vw;
    font-weight: 600;
    line-height: 4.8vw;
    color: rgb(253, 255, 255);

}
.left h1 span{
    color: rgb(244, 13, 13);

}
.left p{
    font-size:1.3vw ;
    font-weight: 600;
    color: rgb(255, 255, 255);
    width: 85%;
    margin-top: 3vw;
    margin-bottom: 4vw;
}
.content button{
    font-size: 1.3vw ;
    padding: 0.8vw 1.8vw;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    font-weight: 800;
    border-radius: 5px;
    font-weight: 500 ;
    
}
.right img{
    height: 100%;
    width: 100%;

}

.right{
    height: 100%;
    width: 45%;
    /* background-color: royalblue; */

}
.right img{
    display: flex;
    margin-top: 2vw;
}


@media (max-width:600px) {
   
    .nav{
        height: 60px;
        padding: 0 6vw;

    }
    .nav h2{
        font-size: 4.1vw;
    
    }
    .nav h4{
        font-size: 4vw;
        display: none;
    }
    .nav i{
        font-size: 4.5vw;
        display: block;
    }
    .nav-part2 button{
        display: none;
    }
    .content{
        height: calc(100% - 60px);
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 45%;
        padding: 4vw 6vw;
        
    }
    .left p{
        font-size: 3vw;
        width: 90%;
        margin-top: 6vw;
        line-height: 4vw;
        margin-bottom: 3vw;
        color: rgb(252, 252, 255);
    }
    .right{
        width: 100%;
        height: 55%;
    }
    .right img{
        width: 70vw;
    }
    .left h1{
        font-size: 11vw;
        line-height: 10vw;
        
        
    }
    .content button{
        font-size: 3vw;
        color: rgb(255, 255, 255);
        font-weight: 600;
        border: none;
        padding: 2vw 3vw;
    }
    


}
